language: python

python:
  - 3.5.1

services:
  - docker

env:
  global:
    - DOCKER_HOST="tcp://127.0.0.1:2375"
    - DOCKER_TLS_VERIFY=""
    - DOCKER_CERT_PATH=""

before_install:
  - pip install codecov
  - sudo apt-get update
  - sudo apt-get install -y -o Dpkg::Options::=--force-confdef docker-engine

install:
  - pip install -r requirements.txt
  - curl $(sed -rn "s|^git\+https://github.com/(.+).git@(.+)#egg=.+$|https://raw.githubusercontent.com/\1/\2/requirements.txt|p" requirements.txt) | xargs pip install
  - pip install -r test_requirements.txt

script:
  - nosetests -v --with-coverage --cover-package=hgicookiemonster --cover-inclusive

after_success:
  - codecov
